/* #region common */

body {
    font-family: "Roboto", sans-serif;
    color: #434455;
    background-color: #ffffff;
}

ul{
    list-style-type: none;
    margin: 0;
    padding-left: 0;
}

a{
    text-decoration: none;
    color: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6,
p{
    margin: 0;
}

img{
    display: block;
    max-width: 100%;
    height: auto;
}

.container{
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;  
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
}

/* #endregion common */

/* #region header */
.page-header .container{
    display: flex;
    justify-content: space-between;
    gap: 332px;
    min-height: 72px;
    align-items: center;
}

.page-header{
    border-bottom: 1px solid #e7e9fc;
    box-shadow: 0 1px 6px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 2px 1px 0 rgba(46, 47, 66, 0.08);
}

.page-nav{
    display: flex;
    flex-grow: 1;
    justify-content: space-between;
    align-items: center;
}

.main-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    padding: 24px 0;
    margin-right: 76px;
}

.logo-text{
    color: #2E2F42;
}

.nav-list{
    display: flex;
    gap: 40px;
}

.nav-list-item{
}

.nav-link{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #2E2F42;
    display: block;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);

}

.nav-link.current{
    position: relative;
    color: #404BBF;
}

.nav-link.current::after{
    position: absolute;
    content: '';
    width: 100%;
    height: 4px;
    border-radius: 2px;
    background-color: #404BBF;
    left: 0;
    bottom: -1px;
}


.nav-link:hover, 
.nav-link:focus{
    color: #404BBF;
}



.page-address{
    font-style: normal;
}

.address-list{
    display: flex;
    gap: 40px;
}

.address-list-item{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}


.address-link{
    font-weight: 400;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    padding: 24px 0;
    transition-property: color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}
.address-link:hover, 
.address-link:focus{
    color: #404BBF;
}
/* #endregion header */

/* #region section hero */
.hero-section{
    background-color: #2E2F42;
    background-image: linear-gradient(rgba(46, 47, 66, 0.7), rgba(46, 47, 66, 0.7)), url(../images/herobackground.jpg);
    padding: 188px 0;
    max-width: 1440px;
    margin: 0 auto;
    background-repeat: no-repeat;
    background-size: cover;
    background-position: center;
}

.hero-title{
    font-weight: 700;
    font-size: 56px;
    line-height: 1.07;
    letter-spacing: 0.02em;
    text-align: center;
    color: #ffffff;
    margin: 48px auto;
    max-width: 496px;
}

.hero-button{
    font-family: "Roboto", sans-serif;
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.04em;
    color: #ffffff;
    background-color: #4D5AE5;
    cursor: pointer;
    display: block;
    margin: 0 auto;
    border-radius: 4px;
    padding: 16px 32px;
    min-width: 169px;
    height: 56px;
    border: none;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);   
}

.hero-button:hover, 
.hero-button:focus{
    background-color: #404BBF;
}
/* #endregion section hero */

/* #region values */
.values{
    padding: 120px 0;
}

.visually-hidden {
    position: absolute;
    width: 1px;
    height: 1px;
    margin: -1px;
    border: 0;
    padding: 0;
    white-space: nowrap;
    clip-path: inset(100%);
    clip: rect(0, 0, 0, 0);
    overflow: hidden;
}

.values-list{
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.values-list-item{
    width: calc((100% - 72px) / 4);
    width: 100%;
}

.icon-container{
    border: 1px solid #8E8F99;
    border-radius: 4px;
    background-color: #F4F4FD;
    padding: 24px 100px;
    margin-bottom: 8px;
    display: flex;
    align-items: center;
    justify-content: center;
    height: 112px;
}

.icon{
    display: block;
    margin: 0 auto;
}
.values-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.values-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}
/* #endregion values */

/* #region team  */
.team{
    background-color: #F4F4FD;
    padding: 120px 0;
}

.team-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.team-list{
    display: flex;
    gap: 24px;
    margin: 0 auto;
}

.team-list-item{
    background-color: #ffffff;
    border-radius: 0 0 4px 4px;
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.team-description-container{
    padding: 32px 0;
    text-align: center;
}

.team-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.team-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

.team-social-list{
    display: flex;
    gap: 24px;
    justify-content: center;
    margin-top: 8px;
}

.team-social-item{
}

.team-social-link{
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.team-social-link:hover,
.team-social-link:focus{
    background-color: #404BBF;
}

.social-icon{
    fill: #F4F4FD;
}

/* #endregion team  */

/* #region portfolio */
.portfolio{
    padding: 120px 0;
}

.portfolio-title{
    font-weight: 700;
    font-size: 36px;
    line-height: 1.11;
    letter-spacing: 0.02em;
    text-align: center;
    text-transform: capitalize;
    color: #2E2F42;
    margin-bottom: 72px;
}

.portfolio-list{
    display: flex;
    flex-wrap: wrap;
    column-gap: 24px;
    row-gap: 48px;
}

.portfolio-list-item{
    transition-property: box-shadow;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover{
    box-shadow: 0 2px 1px 0 rgba(46, 47, 66, 0.08), 0 1px 1px 0 rgba(46, 47, 66, 0.16), 0 1px 6px 0 rgba(46, 47, 66, 0.08);
}

.portfolio-overlay{
    position: relative;
    overflow: hidden;
}

.portfolio-overlay-text {
    position: absolute;
    top: 0;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    padding: 40px 32px;
    background-color: #4d5ae5;
    height: 100%;
    width: 100%;
    transform: translateY(100%);
    transition: transform 250ms cubic-bezier(0.4, 0, 0.2, 1);
}

.portfolio-list-item:hover .portfolio-overlay-text {
    transform: translateY(0%);
}

.portfolio-description-container{
    border-bottom: 1px solid #E7E9FC;
    border-left: 1px solid #E7E9FC;
    border-right: 1px solid #E7E9FC;
    padding: 32px 16px;
}

.portfolio-item-title{
    font-weight: 500;
    font-size: 20px;
    line-height: 1.2;
    letter-spacing: 0.02em;
    color: #2E2F42;
    margin-bottom: 8px;
}

.portfolio-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
}

/* #endregion portfolio */

/* #region footer */
.section-footer{
    background-color: #2E2F42;
    padding: 100px 0;
}

.footer-container{
    width: 100%;
    max-width: 1158px;
    padding-left: 15px;
    padding-right: 15px;
    margin-left: auto;
    margin-right: auto;
    display: flex;
    align-items: baseline;
}

.footer-logo-container {
    margin-right: 120px;
}

.footer-logo{
    font-family: "Raleway", sans-serif;
    font-weight: 700;
    font-size: 18px;
    line-height: 1.17;
    letter-spacing: 0.03em;
    text-transform: uppercase;
    color: #4D5AE5;
    display: inline-block;
    margin-bottom: 16px;
}

.footer-logo-text{
    color: #F4F4FD;
}

.footer-text{
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #F4F4FD;
    width: 264px;
}

.footer-icons-container{
}

.footer-social-text{
    font-weight: 500;
    font-size: 16px;
    line-height: 1.5;
    letter-spacing: 0.02em;
    color: #ffffff;
    margin-bottom: 16px;
}

.footer-social-list{
    display: flex;
    gap: 16px;
}

.footer-social-item{
}

.footer-social-link{
    display: flex;
    background-color: #4D5AE5;
    border-radius: 50%;
    width: 40px;
    height: 40px;
    align-items: center;
    justify-content: center;
    transition-property: background-color;
    transition-duration: 250ms;
    transition-timing-function: cubic-bezier(0.4, 0, 0.2, 1);
}

.footer-social-link:hover,
.footer-social-link:focus{
    background-color: #31D0AA;
}

/* #endregion footer */
